<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'jquery-ui/themes/smoothness/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen">

  <title>{% block title %}{% endblock %}</title>

  {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top my-navbar">
  {% if not user.is_anonymous %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'statistics' %}">
        <span class="glyphicon-lg glyphicon glyphicon-stats"></span>
      </a></li>
      <li><a href="{% url 'admin:logout' %}">
        <span class="glyphicon-lg glyphicon glyphicon-log-out"></span>
      </a></li>
    </ul>
  {% endif %}

  <div class="navbar-header">
    <a class="brand" href="{% url 'statistics' %}">
      <span>mentor</span><br>
      <span class="small">mentor data</span>
    </a>
  </div>
</nav>

<div class="spacing_top">
  {% block content %}{% endblock %}
</div>

{% block footer %}
  <div class="footer">
  </div>
{% endblock %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'moment/moment.js' %}"></script>
<script src="{% static 'moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

{% block javascript %}{% endblock %}

</body>
</html>
