{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Statistics{% endblock %}

{% block content %}
  <div>
    <select id="id_select_statistics">
      <option value="statistics">Statistics</option>
    {% for graph_type in graph_types %}
      <option value="{{ graph_type.0 }}">{{ graph_type.1 }}</option>
    {% endfor %}
  </select>
  </div>

  <div id="id_statistics" class="statistics">
    <table class="table-condensed">
      <tr>
        <th colspan="2">Payout Statistics</th>
      </tr>
      <tr>
        <td>Number of Payouts:</td>
        <td>{{ total_payouts }}</td>
      </tr>
      <tr>
        <td>Average Payout:</td>
        <td>{{ average_payout }}</td>
      </tr>
      <tr>
        <td>Total Paid:</td>
        <td>{{ payout_total }}</td>
      </tr>
      <tr>
        <td>Total Earned:</td>
        <td>{{ earnings_total }}</td>
      </tr>
      <tr>
        <td>Highest:</td>
        <td>{{ highest_payout }}</td>
      </tr>
      <tr>
        <td>Lowest:</td>
        <td>{{ lowest_payout }}</td>
      </tr>
      <tr>
        <td>Most Recent:</td>
        <td>{{ last_payout }}</td>
      </tr>
      <tr>
        <td>Oldest:</td>
        <td>{{ first_payout }}</td>
      </tr>
    </table>

    <table class="table-condensed">
      <tr>
        <th colspan="2">Payment Statistics</th>
      </tr>
      <tr>
        <td>Pending Payment Amount:</td>
        <td>{{ pending_total }}</td>
      </tr>
      <tr>
        <td>Number of Payments:</td>
        <td>{{ number_of_payments }}</td>
      </tr>
      <tr>
        <td>Number of Sessions:</td>
        <td>{{ number_of_sessions }}</td>
      </tr>
      <tr>
        <td>Session Total:</td>
        <td>{{ session_total }}</td>
      </tr>
      <tr>
        <td>Offline Payment Total:</td>
        <td>{{ offline_payment_total }}</td>
      </tr>
      <tr>
        <td>Monthly Payment Total:</td>
        <td>{{ monthly_payment_total }}</td>
      </tr>
      <tr>
        <td>Average Payment:</td>
        <td>{{ average_payment|floatformat:2 }}</td>
      </tr>
      <tr>
        <td>Average Session Length (Minutes):</td>
        <td>{{ average_session_length }}</td>
      </tr>
      <tr>
        <td>Average Sessions per Client:</td>
        <td>{{ sessions_per_client }}</td>
      </tr>
      <tr>
        <td>Hours Worked:</td>
        <td>{{ hours_worked }}</td>
      </tr>
    </table>
  </div>

  {% for graph_type in graph_types %}
    <div id="id_{{ graph_type.0 }}" class="statistics"></div>
  {% endfor %}

  <div class="statistics payout_history_error payment_history_error hours_worked_error">
    No payment history found.
  </div>

{% endblock %}


{% block javascript %}
  <script type='text/javascript' src="{% static 'highstock/js/highstock.src.js' %}"></script>
  <script type='text/javascript'>
    var TIMEZONE = '{{ timezone }}';
  </script>
  <script type='text/javascript' src="{% static 'codementor/js/statistics.js' %}"></script>
{% endblock %}
